{% extends 'base.html' %}

{% block title %}Pridėti įrašą{% endblock %}

{% block content %}
{%load static%}
<section class="h-100 w-100 gradient-custom-2">
    <div class="container-fluid py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100 w-100 my-2">

            <div class="col col-lg-9 col-xl-7">
                <div class="card text-center">
                    <br>
                    <h3>Pridėti portfolio įrašą</h3>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container w-50">
                            <input class="form-control" type="file" name="img" multiple required>
                            <span>Pavadinimas</span> <input type="text" class="form-control" name="pavadinimas" required>
                            <span>Aprašymas</span> <textarea id="aprasymas" class="form-control" name="aprasymas"
                                                             rows="4" cols="50" required> </textarea>

                            <select name="tipas" class="form-control rounded form-select mb-3 " required>
                                <option value="" selected>Pasirinkite sritį:</option>
                                <option value="Grafinis dizainas">Grafinis dizainas</option>
                                <option value="UI/UX">UI/UX</option>
                                <option value="Svetainės">Svetainės</option>
                                <option value="Žaidimai">Žaidimai</option>

                            </select>
                            <button type="submit" class="btn btn-dark form-control btn-lg btn-block my-2"
                                    style="width:50%"><a class="text-light" href="{% url 'manoprofilis' request.user.id%}">Atgal</a></button>
                            <button type="submit" class="btn btn-dark form-control btn-lg btn-block my-2"
                                    style="width:50%">Išsaugoti
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}