{% extends 'base.html' %}

{% block title %}Mano profilis{% endblock %}

{% block content %}
{%load static%}
<section class="h-100 w-100 gradient-custom-2">
    <div class="container-fluid py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100 w-100 my-2">

            <div class="col col-lg-9 col-xl-7">
                <div class="card text-center">
                    <br>
                    <h3>Susisiekti</h3>

                    <div class="container justify-content-center w-50">
                        <form action="" method="POST">
                            {% csrf_token %}
                        <div class="forms">
                            <div class="inputs my-2">
                                <span>Žinutė</span> <textarea type="text" name="body" rows="4" class="form-control my-2" style="text-align: center;" required>Sveiki,&#10; susidomėjau jūsų skelbimu! Kviečiu peržiūrėti mano portfolio ir susisiekti.</textarea>
                            </div>
                            <input type="hidden" name="to_user" value=" {{user}}">

                                <button type="submit" class="btn btn-dark btn-lg btn-block my-5" style="width:90%">
                                    Siųsti
                                </button>

                        </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}