{% extends 'base.html' %}

{% block title %}Prisijungimas{% endblock %}

{% block content %}
<!-- Content-->
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}
<div class="container w-25 text-center my-5">
    <div class="lg:p-12 my-2 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
        <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Slaptažodžio keitimas </h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="new_pass" class="form-control my-4" placeholder="Naujas slaptažodis"
                   class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
            <input type="text" name="new_pass2" class="form-control" placeholder="Pakartokite slaptažodį"
                   class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
            <button type="submit" class="btn btn-dark btn-lg btn-block" style="width:90%">Pakeisti</button>
            <input type="hidden" , name="user_id" , value="{{user_id}}">
        </form>
    </div>
</div>


{% endblock %}