{% extends 'base.html' %}

{% block title %}Mano profilis{% endblock %}

{% block content %}
{%load static%}

<link rel=”stylesheet” href="{% static 'css/inbox_style.css' %}">
<main class="content">
    <div class="container p-0">

		<h1 class="h3 my-3 text-center">Žinutės</h1>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block " >
						<form action="/new" method="POST">
								{% csrf_token %}
						<div class="">

<!--							<div class="d-flex justify-content-end mt-3 ms-5">-->

<!--								<button type="submit" name="action" class="btn btn-primary"><span><i class="bi bi-pencil-square me-2"></i>Nauja žinutė</span></button>-->
<!--							</div>-->

							<div>
								<input type="text" name="q" id="search" class="form-control my-3" placeholder="Search...">

							</div>


						</div>
					</form>
					</div>
					{% for message in messages %}
				<div style="{% if active_direct == message.user.username %} background-color:gray; {% endif %}">



						<div class="d-flex align-items-start ms-4 bg-light p-2">
							<a href="{% url 'profilis' message.user.username %}"><img src="{{ message.user.profile.profile_img.url }} " class="rounded-circle mr-1" width="40" height="40"></a>

							<a  href="{% url 'directs' message.user.username %}" style="text-decoration:none; color:black;">
							<div class="flex-grow-1 ml-3 ms-3">
								 {{ message.user.profile.name }}{{ message.user.profile.surname }}
								<div class="small">@{{ message.user.username }} </span> </div>


							</div>

							<div class="content">
									{% if message.unread %}
									<p style="font-weight: bold; color: red;">
									  <i class="bi bi-chat-left-fill"></i> {{ message.unread }}
									</p>
									{% endif %}
								  </div>
</a>
						</div>


					</div>
					<br>

					{% endfor %}

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9 ">


					<div class="position-relative overflow-auto  " style="height: 500px;">
						<div class="chat-messages p-4">
							{% for direct in directs %}
							<div class="box p-3 mb-2 bg-light text-dark" >
							  <article class="media">
								<div class="media-left">
								</div>
								<div class="media-content">
								  <div class="content" >
									  <div >
									<p>
										<a href="{% url 'profilis' direct.sender %}" style="text-decoration:none; color:black"><img src="{{ direct.sender.profile.profile_img.url }}" class="rounded-circle mr-1" width="40" height="40">
											<strong>{{ direct.sender.profile.name }} {{ direct.sender.profile.surname }}</strong> <small>@{{ direct.sender.username }}</small> <strong><small style="float:right">{{ direct.date|date:'N d G:i'}}</small></strong></a>
<!--									  <strong>{{ direct.sender.profile.first_name }} {{ direct.sender.profile.last_name }}</strong> <small>@{{ direct.sender.username }}</small> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>-->
									</p>
										  </div>
									  <div >
									<p class="ms-7">{{ direct.body }}</p>
										  </div>
								  </div>
								</div>
							  </article>
							</div>
							{% endfor %}





						</div>
					</div>

					<form role="form" method="POST" action="{% url 'send_direct' %}">
						  {% csrf_token %}
						<input type="hidden" name="to_user" value="{{ active_direct }}">
					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
							<textarea class="textarea form-control" name="body" placeholder="Add a comment..."></textarea>
							<button type="submit" name="action" class="btn btn-primary">Send</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>


<script>
	function searchFunction() {
		let input, filter ;
		input = document.getElementById("search");
		filter = input.value.toUpperCase();

	}

</script>

{% endblock %}