{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
{%load static%}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<section class="bg-gray mt-3">
    <div class="container-lg mt-2">
        <div class="row ">
            <div d-flex flex-row>
                <form action="/search" method="Post">
                    {% csrf_token %}

                    <div class="input-group rounded d-flex justify-content-end">
                        <input type="search" name="paieska" class="form-control rounded" placeholder="Search"
                               aria-label="Search" aria-describedby="search-addon"/>
                        <button type="submit" class="btn light" style=""><span>
                            <i class="bi bi-search"></i>
                            </span></button>

                        <button type="button" class="btn btn-dark dropdown-toggle ms-2" data-bs-toggle="dropdown">
                            Filtruoti
                        </button>
                        <ul class="dropdown-menu mb-2">
                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="row my-2 align-items-center justify-content-center my-5">
                {% for port in portfolio %}
                <div class="col-8 col-lg-4 col-xl-3 mb-3">
                    <a href="{% url 'irasas' port.id %}" class="text-dark" style="text-decoration:none;">
                        <div class="card" style="width: 300px;">
                            <img src="{{port.cover.url}}" class="card-img-top" alt="..."
                                 style="width:300px; height:300px; object-fit: cover;">
                            <div class="card-body">
                                <p class="card-text">{{port.name}}</p>
                                <a href="/like-post?portfolio_id={{port.id}}" class="text-dark"
                                   style="text-decoration:none;"> <i
                                        class="bi bi-heart-fill me-1"></i>{{port.nr_of_likes}}</span></a>
                            </div>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

</section>

<div class="container puslapiai">
    <nav aria-label="...">
        {% if portfolio.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-end">
            {% for i in portfolio.paginator.page_range %}
            {% if portfolio.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>

<br>
</body>
{% endblock %}