{% extends 'base.html' %}

{% block title %}Profilis{% endblock %}

{% block content %}
{%load static%}
<section class="h-100 w-100 gradient-custom-2">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 w-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">


                    <div class="card-body p-4 text-black">

                        <a href=" {% url 'profilis' single_portfolio.user_id.user %}" class="text-dark" style="text-decoration:none"><h5 class=" text-center"><img src="{{profilis.profile_img.url}}" width="60"
                             height="60" class="rounded-circle mr-3" style="object-fit:cover;"> {{single_portfolio.user_id.name}} {{single_portfolio.user_id.surname}}</h5></a>
                        <hr>
                        {% if single_portfolio.user_id.user == user%}
                        <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger" style="width:60px; height:40px"><a
                                href="{% url 'delete_irasas' single_portfolio.id %}"
                                style="text-decoration:none; color:white;"><i class="bi bi-trash" style="font-size:1.2em"></i> </a></button>
                        </div>
                        {%endif%}
                        <div class="ms-5 my-4">
                        <h5 class="text-center"> {{single_portfolio.name}}</h5><br>
                        <p> {{single_portfolio.about}}</p>
                            </div>
                        <div class="d-flex flex-row-reverse bd-highlight">

                            {% if favorited == False%}
                            <div class="p-2 bd-highlight ">
                                <a href="{% url 'portfavorite' single_portfolio.id %}"><i class="bi bi-bookmark"></i></a><span>Save</span>
                            </div>
                            {% else %}
                            <div class="p-2 bd-highlight ">
                                <a href="{% url 'portfavorite' single_portfolio.id %}"><i class="bi bi-bookmark-fill"></i></a><span>Save</span>
                            </div>
                            {%endif%}
                            {% if single_portfolio.is_like == False%}
                            <div class="p-2 bd-highlight">
                                <a href="{% url 'portlike' single_portfolio.id %}"><i class="bi bi-heart"></i></a><span> {{single_portfolio.nr_of_likes}} Likes</span>
                            </div>

                            {% else %}
                            <div class="p-2 bd-highlight ">
                                <a href="{% url 'portlike' single_portfolio.id %}"><i class="bi bi-heart-fill"></i></a><span> {{single_portfolio.nr_of_likes}} Likes</span>
                            </div>
                            {%endif%}
                        </div>

                        </div>
                            <img src="{{single_portfolio.cover.url}}">
                            {% if portfolio_images%}
                            {% for img in portfolio_images%}
                            {% if img.image%}
                            <div class="row g-2 my-2">
                            <div class="col">
                                <img src="{{img.image.url}}"
                                     alt="{{img}}" class="w-100 rounded-3">
                            </div>
                            </div>
                            {%else%}
                            {%endif%}
                            {% endfor %}
                            {%else%}

                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid h-100">
    <div class="row height d-flex justify-content-center align-items-center mb-4">
        <div class="col-md-7">
            <div class="card">
                <div class="p-3">
                    <h6>Komentarai</h6>
                </div>
                <form action="" method="POST" role="form">
                    {% csrf_token %}

                    <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                        <img src="{{request.user.profile.profile_img.url}}" width="40"
                             height="40" class="rounded-circle me-3" style="object-fit:cover;">
                        {{form.body}}
                        <button class="btn btn-dark ms-3 ms-2" name="action" type="submit">Komentuoti</button>
                    </div>
                </form>
                {% for comment in comments %}
                <div class="">
<hr>
                    <div class="d-flex flex-row ps-3 pe-5 ms-4">

                        <img src="{{comment.user.profile.profile_img.url}}" width="40"
                             height="40" class="rounded-circle mr-3" style="object-fit:cover;">

                        <div class="w-100 ms-2 ">

                            <div class="d-flex justify-content-between align-items-center ms-4">

                                <div class="d-flex flex-row align-items-center"><span class="mr-2">{{comment.user.first_name}} {{comment.user.last_name}}</span>
                                   </div>

                              <div>  <small> {{comment.date}}</small></div>

                            </div>

                            <div><p class="text-justify comment-text mb-0 mx-4">{{comment.body}}</p></div>
                         {% if comment.user == user%}   <div class="d-flex justify-content-end">  <a href="{% url 'del_comment' comment.id%}" style="text-decoration:none;"><small><i class="bi bi-trash"></i> Ištrinti</small></a></div>{% endif %}
                        </div>
                    </div>
<hr>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
    <br>
</div>

<script>

    let loadMoreBtn = document.querySelector('#load-more');
    let currentItem = 3;

    loadMoreBtn.onclick - () =>{
    let boxes = [...document.querySelectorAll('.container .box-container .box')];
    for (var i = currentItem; i < currentItem + 3; i++){
        boxes[i].style.display = 'inline-block;
    }
    currentItem+=3;
    }

</script>
{% endblock %}