{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container">
    {% if notifications %}
    {% for notification in notifications %}

    {% if notification.notification_type == 2 %}

        <table class="table table-hover mt-2">
        <thead>
        <tr class="table-secondary">
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <td><img src="{{ notification.sender.profile.profile_img.url }}" width="60" height="60"  alt="Placeholder image"></td>
            <td><strong>{{ notification.sender.profile.name }} {{ notification.sender.profile.surname }}</strong> <small>@{{ notification.sender.username }}<p><i class="material-icons"></i> Pakomentavo jūsų įrašą</p>
            <strong><small>{{ notification.date|naturaltime }}</small></strong></small></td>
            <td><a href="{% url 'delete-notification' notification.id %}" class="delete"><i class="bi bi-x-circle-fill"></i></a></td>
        </tr>
    </table>

    {% endif %}


    {% if notification.notification_type == 3 %}
        <table class="table table-hover mt-2">
        <thead>
        <tr class="table-secondary">
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <td><img src="{{ notification.sender.profile.profile_img.url }}" width="60" height="60"  alt="Placeholder image"></td>
            <td><strong>{{ notification.sender.profile.name }} {{ notification.sender.profile.surname }}</strong> <small>@{{ notification.sender.username }}<p><i class="material-icons"></i> Tapo jūsų sekėju</p>
            <strong><small>{{ notification.date|naturaltime }}</small></strong></small></td>
            <td><a href="{% url 'delete-notification' notification.id %}" class="delete"><i class="bi bi-x-circle-fill"></i></a></td>
        </tr>
    </table>
    {% endif %}


    <!-- FOR LIKE --->
    {% if notification.notification_type == 1 %}

    <table class="table table-hover mt-2">
        <thead>
        <tr class="table-secondary">
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <td><img src="{{ notification.sender.profile.profile_img.url }}" width="60" height="60"  alt="Placeholder image"></td>
            <td><strong>{{ notification.sender.profile.name }} {{ notification.sender.profile.surname }}</strong> <small>@{{ notification.sender.username }}<p><i class="bi bi-hand-thumbs-up"></i></i> Mėgsta jūsų įrašą</p>
            <strong><small>{{ notification.date|naturaltime }}</small></strong></small></td>
            <td><a href="{% url 'delete-notification' notification.id %}" class="delete"><i class="bi bi-x-circle-fill"></i></a></td>
        </tr>
    </table>
    {% endif %}


    {% endfor %}
    {%else%}
    <br>
    <p>Pranešimų nėra</p>
    {% endif %}
    <!-- FOR LIKES --->
</div>

{% endblock %}