{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
{%load static%}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<section class="bg-gray mt-3">
    <div class="container-lg mt-2">
        <div class="row ">
            <div d-flex flex-row>
                <form action="/search_portfolio" method="Post">
                    {% csrf_token %}

                <div class="row">

                    <div class="col-6">
                        <input type="search" name="paieska" class="form-control rounded" placeholder="Search"
                               aria-label="Search"/>
                     </div>
                    <div class="col-5">
                        <select name="filtras" class="form-control rounded form-select mb-3 ">
                            <option value="" selected>Pasirinkite sritį:</option>
                                <option value="Grafinis dizainas">Grafinis dizainas</option>
                                <option value="UI/UX">UI/UX</option>
                                <option value="Svetainės">Svetainės</option>
                                <option value="Architektūra">Architektūra</option>
                                <option value="Interjero dizinas">Interjero dizainas</option>
                                <option value="Dailė">Dailė</option>
                                <option value="3D">3D</option>
                                <option value="Iliustracijos">Iliustracijos</option>
                                <option value="Fotografija">Fotografija</option>

                        </select>

                    </div>
                    <div class="col">
                            <button type="submit" class="btn light" style=""><span>
                            <i class="bi bi-search"></i>
                            </span></button>
                    </div>
                    </div>
                </form>
            </div>

            <div class="row my-2 align-items-center justify-content-center my-5">
                {% if qs %}
                {% for port in qs %}
                <div class="col-8 col-lg-4 col-xl-3 mb-3">
                    <a href="{% url 'irasas' port.id %}" class="text-dark" style="text-decoration:none;">
                        <div class="card" style="width: 300px;">
                            <img src="{{port.cover.url}}" class="card-img-top" alt="..."
                                 style="width:300px; height:300px; object-fit: cover;">
                            <div class="card-body d-flex justify-content-between">
                                <p class="card-text">{{port.name}}</p>

                                <a href="/like-post?portfolio_id={{port.id}}" class="text-dark"
                                   style="text-decoration:none;"> <i
                                        class="bi bi-heart-fill me-1"></i>{{port.nr_of_likes}}</span></a>
                            </div>
                        </div>
                    </a>
                </div>
                {%endfor%}
                {% else %}
                <p align="center">Įrašų pagal užklausą nėra</p>
                {%endif%}
            </div>

            
        </div>
    </div>

</section>

<div class="container puslapiai">
    <nav aria-label="...">
        {% if portfolio.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-end">
            {% for i in portfolio.paginator.page_range %}
            {% if portfolio.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>

<br>
</body>
{% endblock %}