{% extends 'base.html' %}

{% block title %}Prideti skelbima{% endblock %}

{% block content %}
{%load static%}
<section class="h-100 w-100 gradient-custom-2">
    <div class="card text-center">
        <br>
        <h3>Pridėti skelbimą</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container w-50">
                <span>Pavadinimas</span> <input type="text" class="form-control" name="pavadinimas" value="">
                <span>Sritis</span>
                  <div class="col-5">
                            <select name="sritis" class="form-control rounded form-select mb-3 ">
                                <option value="" selected>Pasirinkite sritį:</option>
                                <option value="Grafinis dizainas">Grafinis dizainas</option>
                                <option value="UI/UX">UI/UX</option>
                                <option value="Svetainės">Svetainės</option>
                                <option value="Architektūra">Architektūra</option>
                                <option value="Interjero dizinas">Interjero dizainas</option>
                                <option value="Dailė">Dailė</option>
                                <option value="3D">3D</option>
                                <option value="Iliustracijos">Iliustracijos</option>
                                <option value="Fotografija">Fotografija</option>

                            </select>

                        </div>
                <span>Aprašymas</span> <textarea id="aprasymas" class="form-control" name="aprasymas" rows="4"
                                                 cols="50"> </textarea>
                <span>Miestas</span> <input type="text" class="form-control" name="miestas" value="">
                <span>Tipas</span> <input type="text" class="form-control" name="tipas" value="">
                <span>Atlyginimas</span> <input type="text" class="form-control" name="atlyginimas" value="">
                <span>El. paštas</span> <input type="email" class="form-control" name="email" value="">
                <button type="button" class="btn btn-dark btn-lg btn-block my-2" style="width:50%"><a class="text-light"
                                                                                                      href="/darboskelbimai">Atgal</a>
                </button>
                <button type="submit" class="btn btn-dark btn-lg btn-block mb-2 " style="width:50%">Pridėti</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}