{% extends 'base.html' %}

{% block title %}{{user_profile.user.username}}{% endblock %}

{% block content %}
{%load static%}

<style>
    .bt a{
    color: black
    }
    .bt a:hover{
    color:white
    }

</style>
<section class="h-100 w-100 gradient-custom-2" >
  <div class="container-fluid py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100 w-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #212529; height:200px;">
              <form action="/follow" method="POST">
                    {% csrf_token %}

            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

              <img src="{{user_profile.profile_img.url}}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="object-fit:cover; 150px; height:150px; z-index: 1">


                    <input type="hidden" value="{{user}}" name="follower">
                    <input type="hidden" value="{{user_object}}" name="user">

              {% if user_object.id == user.id %}
                <br>
                            <br>
                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                    <a class="bt" href="{% url 'redaguotiprofili' user_object.id %}" style="text-decoration:none; color:gray">Redaguoti profilį</a>
                </button>
                {% else%}
                <button type="submit" class="btn btn-outline-dark " data-mdb-ripple-color="dark"
                style="z-index: 1;">
                    {{button_text}}
              </button>

                <button type="button" class="btn btn-outline-dark mt-1 " data-mdb-ripple-color="dark"
                style="z-index: 1;">
                   <a href="{% url 'newconversation' user_object.username %}" style="text-decoration:none;">Susisiekti</a>
              </button>
                {% endif %}

            </div>
                  </form>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{user_profile.name}} {{user_profile.surname}}</h5>
              <p>Kaunas</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{user_posts_length}}</p>
                <p class="small text-muted mb-0">Įrašai</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{user_followers}}</p>
                <p class="small text-muted mb-0">Sekėjai</p>
              </div>
              <div>
                <p class="mb-1 h5">{{user_following}}</p>
                <p class="small text-muted mb-0">Seka</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
              {% if user_profile.about %}
            <div class="mb-5">

              <p class="lead fw-normal mb-1">Apie</p>
              <div class="p-4">

                <p>{{user_profile.about}}</p>

              </div>
            </div>
              {% endif %}
              <br>
              <br>
            <div class="d-flex justify-content-between align-items-center mb-4 mt-10">
              <p class="lead fw-normal mb-0">Naujausi įrašai</p>
                {% if user_object.id == user.id %}
                {% include 'add_irasa.html' %}
                <a href="" class="text-dark" data-bs-toggle="modal" data-bs-target="#addirasaModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                     class="bi bi-plus-square me-5" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </a>



                {% endif %}

              <p class="mb-0"><a href="#!" class="text-muted">Rodyti visus</a></p>
            </div>

              <div class="container">
                        <div class="row col-md-12">
                            {% for post in user_posts.all%}
                            <div class="col-md-4 mt-2">
                                    <a href="{% url 'irasas' post.id %}"><img src="{{post.cover.url}}" style="height:300px; width:300px; object-fit:cover;"
                                                                              alt="{{post.id}}" class="w-100 rounded-3">
                            </a></div>
                            {%endfor%}

                        </div>
                            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </section>


<div class="container-fluid h-100">
    <div class="row height d-flex justify-content-center align-items-center mb-4">
        <div class="col-md-7">
            <div class="card">
                <div class="p-3">
                    <h6>Atsiliepimai</h6>
                </div>
                {% if user_object.id != user.id %}
                <form action="" method="POST" role="form">
                    {% csrf_token %}

                    <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                        <img src="{{request.user.profile.profile_img.url}}" width="40"
                             height="40" class="rounded-circle me-3" style="object-fit:cover;">
                        {{form.body}}
                        <button class="btn btn-dark ms-3 ms-2" name="action" type="submit">Komentuoti</button>
                    </div>
                </form>
                {% endif %}
                {% if reviews %}
                {% for review in reviews %}
                <div class="">
<hr>
                    <div class="d-flex flex-row p-3 ms-4 my-4">

                        <img src="{{review.user.profile.profile_img.url}}" width="40"
                             height="40" class="rounded-circle mr-3" style="object-fit:cover;">

                        <div class="w-100 ms-2">

                            <div class="d-flex justify-content-between align-items-center ms-4">
                                <div class="d-flex flex-row align-items-center"><span class="mr-2">{{review.user.first_name}} {{review.user.last_name}}</span>
                                   </div>

                                <small> {{review.date}}</small>

                            </div>

                            <p class="text-justify review-text mb-0 mx-4">{{review.body}}</p>
{% if review.user == user%}   <div class="d-flex justify-content-end">  <a href="{% url 'del_review' review.id%}" style="text-decoration:none;"><small><i class="bi bi-trash"></i> Ištrinti</small></a></div>{% endif %}
                        </div>
                        </div>
                    </div>
<hr>
                    {% endfor %}


                </div>
                {% else %}
                <p> &nbsp &nbsp  Atsiliepimų nėra.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock %}