{% extends 'base.html' %}

{% block title %}Mano profilis{% endblock %}

{% block content %}
{%load static%}
<section class="h-100 w-100 gradient-custom-2">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 w-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="{{user_profile.profile_img.url}}"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">

                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{user_profile.name}} {{user_profile.surname}}</h5>
                            <p>{{user_profile.location}}</p>
                        </div>
                    </div>

                    <div>
                        <div class="card text-center">
                            <br>
                            <h3>Pridėti portfolio įrašą</h3>
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <img width="100" height="100" src="{{user_profile.profile_img.url}}" style="object-fit:cover;" class="my-5">


                                <div class="container w-50">
                                    <input class="form-control" type="file" name="image" value="">
                                    <span>Vardas</span> <input type="text" class="form-control" name="vardas"
                                                               value="{{user_profile.name}}">
                                    <span>Pavardė</span> <input type="text" class="form-control" name="pavarde"
                                                                value="{{user_profile.surname}}">
                                    <span>Aprašymas</span> <textarea id="aprasymas" class="form-control"
                                                                     name="aprasymas" rows="4" cols="50">{% if user_profile.about != None%}{{user_profile.about}}{%endif%} </textarea>
                                    <span>Miestas</span>
                                    <select name="miestas" class="form-control rounded form-select mb-3 ">
                                <option value="{{user_profile.location}}" selected>{{user_profile.location}}</option>
                                <option value="Vilnius">Vilnius</option>
                                <option value="Kaunas">Kaunas</option>
                                <option value="Klaipėda">Klaipėda</option>
                                <option value="Šiauliai">Šiauliai</option>
                                <option value="Panevėžys">Panevėžys</option>
                                <option value="Alytus">Alytus</option>
                                <option value="Marijampolė">Marijampolė</option>
                                <option value="Mažeikiai">Mažeikiai</option>
                                <option value="Jonava">Jonava</option>
                                <option value="Utena">Utena</option>
                                <option value="Kėdainiai">Kėdainiai</option>
                                <option value="Tauragė">Tauragė</option>
                                <option value="Telšiai">Telšiai</option>
                                <option value="Ukmergė">Ukmergė</option>
                                <option value="Visaginas">Visaginas</option>
                                <option value="Plungė">Plungė</option>
                                <option value="Kretinga">Kretinga</option>
                                <option value="Palanga">Palanga</option>
                                <option value="Radviliškis">Radviliškis</option>
                                <option value="Šilutė">Šilutė</option>
                                <option value="Gargždai">Gargždai</option>
                                <option value="Druskininkai">Druskininkai</option>
                                <option value="Rokiškis">Rokiškis</option>
                                <option value="Elektrėnai">Elektrėnai</option>
                                <option value="Kuršėnai">Kuršėnai</option>
                                <option value="Grigiškės">Grigiškės</option>
                                <option value="Biržai">Biržai</option>
                                <option value="Lentvaris">Lentvaris</option>
                                <option value="Joniškis">Joniškis</option>
                                <option value="Garliava">Garliava</option>
                                <option value="" selected>Pasirinkite miestą:</option>
                                <option value="Visaginas">Visaginas</option>
                                <option value="Plungė">Plungė</option>
                                <option value="Kretinga">Kretinga</option>
                                <option value="Palanga">Palanga</option>
                                <option value="Radviliškis">Radviliškis</option>
                                <option value="Šilutė">Šilutė</option>
                                <option value="Gargždai">Gargždai</option>
                                <option value="Druskininkai">Druskininkai</option>
                                <option value="Rokiškis">Rokiškis</option>
                                <option value="Elektrėnai">Elektrėnai</option>
                                <option value="Kuršėnai">Kuršėnai</option>
                                <option value="Grigiškės">Grigiškės</option>
                                <option value="Biržai">Biržai</option>
                                <option value="Lentvaris">Lentvaris</option>
                                <option value="Joniškis">Joniškis</option>
                                <option value="Garliava">Garliava</option>
                                <option value="Jurbarkas">Jurbarkas</option>
                                <option value="Raseiniai">Raseiniai</option>
                                <option value="Vilkaviškis">Vilkaviškis</option>
                                <option value="Anykščiai">Anykščiai</option>
                                <option value="Prienai">Prienai</option>
                                <option value="Varėna">Varėna</option>
                                <option value="Kelmė">Kelmė</option>
                                <option value="Kaišiadorys">Kaišiadorys</option>
                                <option value="Naujoji Akmenė">Naujoji Akmenė</option>
                                <option value="Šalčininkai">Šalčininkai</option>
                                <option value="Pasvalys">Pasvalys</option>
                                <option value="Zarasai">Zarasai</option>
                                <option value="Kupiškis">Kupiškis</option>
                                <option value="Kazlų Rūda">Kazlų Rūda</option>
                                <option value="Širvintos">Širvintos</option>
                                <option value="Molėtai">Molėtai</option>
                                <option value="Pabradė">Pabradė</option>
                                <option value="Skuodas">Skuodas</option>
                                <option value="Šakiai">Šakiai</option>
                                <option value="Ignalina">Ignalina</option>
                                <option value="Lazdijai">Lazdijai</option>
                                <option value="Švenčionėliai">Švenčionėliai</option>
                                <option value="Šilalė">Šilalė</option>
                                <option value="Nemenčinė">Nemenčinė</option>
                                <option value="Kybartai">Kybartai</option>
                                <option value="Vievis">Vievis</option>
                                <option value="Pakruojis">Pakruojis</option>
                                <option value="Trakai">Trakai</option>
                                <option value="Švenčionys">Švenčionys</option>
                                <option value="Rietavas">Rietavas</option>
                                <option value="Kalvarija">Kalvarija</option>
                                <option value="Žiežmariai">Žiežmariai</option>
                                <option value="Eišiškės">Eišiškės</option>
                                <option value="Ariogala">Ariogala</option>
                                <option value="Neringa">Neringa</option>
                                <option value="Šeduva">Šeduva</option>
                                <option value="Birštonas">Birštonas</option>
                                <option value="Venta">Venta</option>
                                <option value="Akmenė">Akmenė</option>
                                <option value="Tytuvėnai">Tytuvėnai</option>
                                <option value="Rūdiškės">Rūdiškės</option>
                                <option value="Vilkija">Vilkija</option>
                                <option value="Pagėgiai">Pagėgiai</option>
                                <option value="Viekšniai">Viekšniai</option>
                                <option value="Žagarė">Žagarė</option>
                                <option value="Kaišiadorys">Ežerėlis</option>
                                <option value="Skaudvilė">Skaudvilė</option>
                                <option value="Gelgaudiškis">Gelgaudiškis</option>
                                <option value="Kudirkos Naumiestis">Kudirkos Naumiestis</option>
                                <option value="Simnas">Simnas</option>
                                <option value="Salantai">Salantai</option>
                                <option value="Linkuva">Linkuva</option>
                                <option value="Ramygala">Ramygala</option>
                                <option value="Priekulė">Priekulė</option>
                                <option value="Veisiejai">Veisiejai</option>
                                <option value="Daugai">Daugai</option>
                                <option value="Joniškėlis">Joniškėlis</option>
                                <option value="Jieznas">Jieznas</option>
                                <option value="Obeliai">Obeliai</option>
                                <option value="Varniai">Varniai</option>
                                <option value="Virbalis">Virbalis</option>
                                <option value="Seda">Seda</option>
                                <option value="Vabalninkas">Vabalninkas</option>
                                <option value="Subačius">Subačius</option>
                                <option value="Baltoji Vokė">Baltoji Vokė</option>
                                <option value="Pandėlys">Pandėlys</option>
                                <option value="Dūkštas">Dūkštas</option>
                                <option value="Užventis">Užventis</option>
                                <option value="Dusetos">Dusetos</option>
                                <option value="Kavarskas">Kavarskas</option>
                                <option value="Smalininkai">Smalininkai</option>
                                <option value="Troškūnai">Troškūnai</option>
                                <option value="Panemunė">Panemunė</option>
                                </select>

                                    <button type="button" class="btn btn-dark btn-lg btn-block my-2" style="width:50%">
                                        <a href="/manoprofilis/{{user.id}}" style="text-decoration:none; color:white;">Atgal</a></button>
                                    <a href="{% url 'manoprofilis' user_profile.id %}">
                                    <button type="submit" class="btn btn-dark btn-lg btn-block mb-5" style="width:50%">
                                        Išsaugoti
                                    </button>
                                        </a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}