.tabs{
    border: 1px solid #cccccc,
    display: flex;
}

.tabs__sidebar{
    width: 125px;
    flex-shrink: 0;
    background: #cccccc

}

.tabs__button{
    display: block;
    padding: 10px;
    background: #eeeeee;
    border: none;
    width:100%;
    outline:none;
    cursor: pointer;

}